html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
}

.video-container {
  position: relative;
  height: 95vh;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 420px) {
  .video-container {
    height: 99vh;
    width: 99%;
  }
}

.video-container::-webkit-scrollbar {
  display: none;
}